*,html{
  font-size: 16px;
  color: #24a800;;
  background-color: #000000;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app-wrapper{
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;

}






/* navbar*/

/*navbar end*/

/*content start*/

/*content end*/

