*,html{
  font-size: 16px;
  color: #24a800;;
  background-color: #000000;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app-wrapper{
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;

}
.borderShadow{
  border: 3px solid rgba(87, 76, 10, 0.15);
  box-shadow: 1px 1px 5px #24a800;
  margin: 2px;
}


/*header start*/
.header{
  width: 100%;
  margin-bottom: 20px;
}
.logo{
  width: 30px;
}
/*header end*/

/* navbar*/
.navbar{
   width: 20%;
   padding: 10px 0;
   margin: 0 10px 0 0;
}
.link>a{
  display: block;
  text-decoration: none;
  background-color: rgba(36, 168, 0, 0);

}
.link{
  margin: 5px 0;
  text-align: center;
  width: 100%;

}
.link>a:hover{
  background-color: rgba(81, 229, 40, 0.43);
  color: white;
}
/*navbar end*/

/*content start*/
.content{
  width: 78%;
}
.oblojka{
  height: 150px;
  overflow: hidden;
}
.oblojka>img{
  width: 100%;
}


.user{
  display: flex;
}
.avatar{
  width: 200px;
  height: 250px;
  overflow: hidden;
}
.avatar>img{
  width: 200px;
}
.user_info{
 padding: 20px;
}
.user_info_content{
  margin-top: 20px;
}
/*content end*/

